Repository Gosrock/DuDoong-Backend, pull requests merged in 2023-01, with the labels that each got.

#24 feat(api) : 카카오 code 방식 로그인 구현 (#7)
  DuDoong-Api/build.gradle
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/KakaoUserInfoDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/OauthLoginLinkResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/RegisterResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/KakaoService.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterService.java
  DuDoong-Api/src/main/java/band/gosrock/api/eventHandlers/RegisterUserEventHandler.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Api/src/test/java/band/gosrock/api/eventHandlers/RegisterUserEventHandlerTest.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Adaptor.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Port.java
  DuDoong-Common/src/main/java/band/gosrock/common/config/ConfigurationPropertiesConfig.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
  DuDoong-Common/src/main/java/band/gosrock/common/properties/OauthProperties.java
  DuDoong-Common/src/main/resources/application.yml
  DuDoong-Domain/build.gradle
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/dto/ProfileViewDto.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/Profile.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/DuDoongInfraApplication.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeignConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/client/KakaoInfoClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/client/KakaoOauthClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/KakaoInformationResponse.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/OauthAccessTokenResponse.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: Type: Feature

#26 feat(api) : 스프링 시큐리티 설정 (#2)
  DuDoong-Api/build.gradle
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AuthDetails.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/JwtTokenFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
  DuDoong-Common/src/main/java/band/gosrock/common/dto/AccessTokenInfo.java
  DuDoong-Common/src/main/java/band/gosrock/common/jwt/JwtTokenProvider.java
Labels: Type: Docs/Chore, Type: Feature

#28 feat : add docker-compose redis setting (#27)
  docker-compose.yml
Labels: Type: Docs/Chore

#29 feat(infra) : redis setting (#10)
  .github/workflows/ci.yml
  DuDoong-Domain/src/main/resources/application-domain.yml
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedisCacheConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedisConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedissonConfig.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: Type: Docs/Chore, Type: Feature

#30 feat(api) : response body Advice (#20)
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/SuccessResponseAdvice.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/build.gradle
  DuDoong-Common/src/main/java/band/gosrock/common/dto/SuccessResponse.java
  DuDoong-Common/src/main/resources/application-common.yml
  DuDoong-Common/src/test/resources/application.yml
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  DuDoong-Socket/src/main/resources/application.yml
  build.gradle
Labels: For: API, Type: Docs/Chore, Type: Feature

#34 feat(api) : exception Handling ( filter, controller advice ) (#19)
  DuDoong-Api/src/main/java/band/gosrock/api/config/HttpContentCacheFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/ExceptionFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/CorsConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/FilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/src/main/java/band/gosrock/common/dto/ErrorResponse.java
Labels: For: API, Type: Feature

#35 feat(domain) : redisson 기반 분산락 aop 설정 (#8)
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/NotAvailableRedissonLockException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/domainEvent/DomainEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/domainEvent/EventPublisherAspect.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/domainEvent/Events.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonCallTransaction.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLock.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAop.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/user/UserRegisterEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
Labels: For: Utils, Type: Feature

#36 feat(api) : 토큰 발급 , 리프레쉬 로직 (#25)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/TokenAndUserResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/KakaoOauthHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RefreshUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/TokenGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityUtils.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Api/src/test/java/band/gosrock/api/eventHandlers/RegisterUserEventHandlerTest.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/DomainService.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Helper.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/UseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/SecurityContextNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/RefreshTokenAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/RefreshTokenEntity.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/RefreshTokenRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedisConfig.java
Labels: For: API, Type: Feature

#38 feat(api) : oidc 방식 카카오 로그인 추가 (#31)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/request/RegisterRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/AvailableRegisterResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/OauthUserInfoResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/KakaoOauthHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/LoginUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/OauthOIDCHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/OauthUserInfoUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/dto/OIDCDecodePayload.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/jwt/JwtOIDCProvider.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLock.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAop.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/AlreadySignUpUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/ForbiddenUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/client/KakaoOauthClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/OIDCPublicKeyDto.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/OIDCPublicKeysResponse.java
Labels: For: API, Type: Feature

#39 feat(api) : 유저 회원 탈퇴, 로그아웃 로직 (#37)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/LoginUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/LogoutUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/OauthUserInfoUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RefreshUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/WithDrawUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/OauthOIDCHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/TokenGenerateHelper.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/properties/OauthProperties.java
  DuDoong-Common/src/main/resources/application-common.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/RefreshTokenAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/OauthInfo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/AlreadyDeletedUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Domain/src/test/java/band/gosrock/domains/user/domain/OauthInfoTest.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeignConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/client/KakaoInfoClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/UnlinkKaKaoTarget.java
Labels: For: API, Type: Feature

#41 feat(api) : 스웨거 커스터마이징 ( tag, disableSecurity ) (#33)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/SwaggerConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/DisableSwaggerSecurity.java
Labels: For: API, Type: Feature

#42 feat(common) : annotation 기반 aop 프로파일에 따른 api 접근제어 (#32)
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/FilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/JwtExceptionFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/test/java/band/gosrock/api/eventHandlers/RegisterUserEventHandlerTest.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/DevelopOnlyApi.java
  DuDoong-Common/src/main/java/band/gosrock/common/aop/ApiBlockingAspect.java
Labels: For: API, Type: Docs/Chore

#44 feat(api) : 카카오 prod 용 로그인 분리 (#43)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/client/KakaoOauthClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/dto/OauthTokenResponse.java
Labels: For: API, Type: Refactor

#50 feat(infra) : s3 presigned url 로 연동(#46)
  DuDoong-Common/src/main/java/band/gosrock/common/exception/BadFileExtensionException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/s3/S3Config.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/s3/S3UploadPresignedUrlService.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/config/s3/S3UploadPresignedUrlServiceTest.java
Labels: For: API, Type: Feature

#48 feat(domain) : 분산락 락 키 관련 커스텀 오브젝트 안에 키도 가져올수 있도록 설정 (#40)
  DuDoong-Common/src/main/java/band/gosrock/common/exception/BadLockIdentifierException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLock.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAop.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAopTest.java
Labels: For: API, Type: Feature

#52 fix(api) : jwtExceptionFilter 에러시 상태코드도 변경(#46)
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/JwtExceptionFilter.java
Labels: Type: Errors/Bugs

#53 feat(domain) : 주문 관련 엔티티, 결제 요청, 승인 흐름(#49)
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/CartLineController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CancelOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ConfirmOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateCartLineUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadCartLineUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/converter/MoneyConverter.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/Money.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentInfo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentMethod.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/KakaoInformationResponse.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/OauthTokenResponse.java
Labels: For: API, Type: Feature

#55 🚀 :: Api-v0.0.1-1
  .github/workflows/BuildApiServer.yml
  .github/workflows/BuildSocketServer.yml
Labels: For: Deploy

#56 🚀 :: Api-v0.0.1-2
  DuDoong-Api/src/main/java/band/gosrock/DuDoongApiServerApplication.java
  DuDoong-Api/src/main/resources/application.yml
Labels: For: Deploy

#57 🚀 :: Api-v0.0.1-3
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/CartLineController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
Labels: For: Deploy

#58 🚀 :: Api-v0.0.1-4
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
Labels: For: Deploy

#59 🚀 :: Api-v0.0.1-5
  DuDoong-Domain/src/main/resources/application-domain.yml
Labels: For: Deploy

#60 🚀 :: Api-v0.0.1-6
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/SwaggerConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/CartLineController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/resources/application.yml
Labels: For: Deploy

#66 feat : 카트 ( 장바구니 ) 관련 ( 리팩토링 필요 ) (#63)
  DuDoong-Api/src/main/java/band/gosrock/api/cart/controller/CartLineController.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/request/AddCartLineDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/request/AddCartOptionAnswerDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/request/AddCartRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartItemOptionAnswerResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartItemResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CreateCartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/service/CheckOptionUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/service/CreateCartLinesUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/service/ReadCartLineUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/CartLineController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateCartLineUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/converter/BigDecimalScale6WithBankersRoundingConverter.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/converter/MoneyConverter.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/Money.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/adaptor/CartAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/repository/CartRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/service/CartDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/Option.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/OptionGroupRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/OptionRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/TicketItemRepository.java
Labels: For: API, Status: WIP, Type: Feature

#68 feat : 티켓 발급 API 초안 작성 (#65)
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/CreateIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/PostIssuedTicketRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/PostIssuedTicketRequestDTOs.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/PostIssuedTicketResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/test/java/band/gosrock/domains/issuedTicket/IssuedTicketTest.java
Labels: For: API, Status: WIP, Type: Feature

#75 fix : cors configuration 어노테이션 빼먹은 문제(#74)
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/CorsConfig.java
Labels: Status: URGENT, Type: Errors/Bugs

#79 🚀 :: Api-v0.0.2-1
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
Labels: For: API, For: Deploy

#80 fix : referer 관련 헤더 추가
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
Labels: For: Deploy

#73 feat : 발급 티켓 가져오기 API 작성 (#73)
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/PostIssuedTicketRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketUserNotMatchedException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
Labels: For: API, Type: Feature

#83 feat : 주문 승인 , 조회 (#67)
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/ConfirmOrderRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/CreateOrderRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderLineTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderPaymentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ConfirmOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateTossOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/converter/BigDecimalScale6WithBankersRoundingConverter.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentInfo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentMethod.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/InvalidOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotMyOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotPendingOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotSupportedOrderMethodException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderLineNotFountException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CartToOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderConfirmService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeginCommonConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeignCommonConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/PaymentsCancels.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/PaymentsResponse.java
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/outer/api/tossPayments/client/TossPaymentsClientTest.java
Labels: For: API, Type: Feature

#87 refactor(api) : kakao link 클라이언트용 발급
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
Labels: For: API, Type: Refactor

#88 🚀 :: Api-v0.0.2-3
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/ConfirmOrderRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/CreateOrderRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderLineTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderPaymentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ConfirmOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateTossOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/converter/BigDecimalScale6WithBankersRoundingConverter.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/PostIssuedTicketRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketUserNotMatchedException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentInfo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentMethod.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/InvalidOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotMyOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotPendingOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotSupportedOrderMethodException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderLineNotFountException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CartToOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderConfirmService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeginCommonConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/feign/FeignCommonConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/PaymentsCancels.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/PaymentsResponse.java
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/outer/api/tossPayments/client/TossPaymentsClientTest.java
Labels: For: Deploy

#90 fix(api) : oauth 관련 코드 카멜케이스로 응답 (#89)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/OauthTokenResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/client/KakaoOauthClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/KakaoTokenResponse.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: Type: Errors/Bugs

#94 feat : [어드민] 발급 티켓 리스트 가져오기 API 개발
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketListResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/HostNotAuthEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketOptionAnswerAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketRequestDTOs.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/CreateIssuedTicketResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketPageDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketOptionAnswerRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
Labels: For: API, Type: Feature

#97 refactor(api) : 토큰 응답시 쿠키 설정 (#96)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/response/TokenAndUserResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/TokenGenerateHelper.java
  DuDoong-Common/src/main/java/band/gosrock/common/jwt/JwtTokenProvider.java
Labels: Type: Refactor

#101 feat : 스웨거 동적 예시값 생성 (#99)
  DuDoong-Api/src/main/java/band/gosrock/api/config/ExampleHolder.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/SwaggerConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/docs/ExampleException2Docs.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/docs/ExampleExceptionDocs.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/ApiErrorExample.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/ExceptionDoc.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/ExplainError.java
Labels: For: Utils, Type: Feature

#104 🚀 :: Api-v0.0.3-1
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/HostNotAuthEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/CreateIssuedTicketResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
Labels: For: Deploy

#121 feat(CORS) : 5173번 포트 추가
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/CorsConfig.java
Labels: For: Deploy, Type: Feature

#124 🚀 :: Api-v0.0.3-8
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
Labels: For: Deploy

#126 🚀 :: Api-v0.0.3-9
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/KakaoOauthHelper.java
Labels: For: Deploy

#127 feature : 스웨거 에러코드 동적 문서화 (#113)
  DuDoong-Api/src/main/java/band/gosrock/api/config/ExampleHolder.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/SwaggerConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/JwtExceptionFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/docs/ExampleException2Docs.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/docs/ExampleExceptionDocs.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/ApiErrorCodeExample.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/ApiErrorExceptionsExample.java
  DuDoong-Common/src/main/java/band/gosrock/common/dto/ErrorReason.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/BadFileExtensionException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/BadLockIdentifierException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/BaseErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/DuDoongCodeException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/ExpiredTokenException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/InvalidTokenException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/NotAvailableRedissonLockException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerBadRequestException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerExpiredTokenException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerForbiddenException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerUnauthorizedException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/RefreshTokenExpiredException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/SecurityContextNotFoundException.java
  DuDoong-Common/src/main/java/band/gosrock/common/interfaces/SwaggerExampleExceptions.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/HostNotAuthEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketUserNotMatchedException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/CanNotCancelOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/CanNotRefundOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/InvalidOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotApprovalOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotOwnerOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotPaymentOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotPendingOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotRefundAvailableDateOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotSupportedOrderMethodException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderLineNotFountException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/AlreadyDeletedUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/AlreadySignUpUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/ForbiddenUserException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserNotFoundException.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/PaymentsCancelErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/PaymentsConfirmErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/PaymentsCreateErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/PaymentsEnumNotMatchException.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/PaymentsUnHandleException.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/exception/TransactionGetErrorCode.java
Labels: For: Utils, Type: Feature, Type: Refactor

#128 refactor : 카카오 code 요청 에러 코드화 하기 (#125)
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/client/KakaoInfoClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/client/KakaoOauthClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/config/KakaoInfoConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/config/KakaoInfoErrorDecoder.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/config/KakaoKauthConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/config/KauthErrorDecoder.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/KakaoKauthErrorResponse.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/exception/KakaoKauthErrorCode.java
Labels: For: API, For: Utils, Type: Refactor

#129 refactor : 에러코드 도메인 별로 분할 (#117)
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/HostNotAuthEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketUserNotMatchedException.java
Labels: For: Utils, Type: Refactor

#132 refactor: QueryDsl 추가 및 지연 로딩 관련 리팩토링
  .gitignore
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketListResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/build.gradle
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/QueryDslConfig.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/condtion/IssuedTicketCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
Labels: For: API, Type: Feature, Type: Refactor

#134 🚀 :: Api-v0.0.4-1
  .gitignore
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketListResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/build.gradle
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/QueryDslConfig.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/condtion/IssuedTicketCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/response/IssuedTicketDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
Labels: For: Deploy

#135 Feature/93 create coupon compaign
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateCouponCampaignResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/ApplyTarget.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponCampaign.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/DiscountType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/AlreadyExistCouponCampaignException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/CouponErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/CouponCampaignRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/service/CreateCouponCampaignDomainService.java
Labels: For: API, Type: Feature

#142 refactor : 쿠폰 캠페인 생성 리팩토링 (#137)
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/DateTimePeriod.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/adaptor/CouponCampaignAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponCampaign.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/service/CreateCouponCampaignDomainService.java
Labels: Type: Refactor

#145 feat : 호스트 및 이벤트 생성/조회 기본 로직 추가 (#133)
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/CreateEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/CreateHostRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/CreateHostResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/CreateHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/HostErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/HostNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/NotSuperHostException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
Labels: For: API, For: Models/DB, Type: Feature

#146 feat: 개발 및 테스트 용 티켓 발급 API 추가
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/RetrieveIssuedTicketDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/CreateIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketOptionAnswerVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketForDevDTO.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketRequestDTOs.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/request/CreateIssuedTicketRequestForDev.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/OptionAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/TicketItemAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/OptionNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemNotFoundException.java
Labels: For: API, Type: Feature, Type: Refactor

#153 feat : UserUtil class 추가
  DuDoong-Api/src/main/java/band/gosrock/api/common/UserUtils.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/CreateOrderRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateOrderUseCase.java
Labels: For: Utils, Type: Feature

#154 feat : 주문에서 사용하는 쿠폰 관련 기능 개발
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/ReadIssuedCouponOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/IssuedCouponMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadIssuedCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedCouponInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/Money.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/adaptor/IssuedCouponAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponRepository.java
Labels: For: API, Type: Feature

#161 feat : 공연 생성 및 검증 로직 구현
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/CreateEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/CreateHostRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/CreateHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/JoinHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostListUseCase.java
  DuDoong-Common/build.gradle
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Phone.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/validator/PhoneValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/HostErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/NotMasterHostException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
Labels: For: API, For: Utils, Type: Feature

#162 feat : after order ticket create
  DuDoong-Api/src/main/java/band/gosrock/api/eventHandlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/service/DoneOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/ConfirmOrderFailHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderConfirmService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithDrawOrderHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithdrawOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithdrawPaymentService.java
  DuDoong-Domain/src/main/resources/application-domain.yml
Labels: For: API, Type: Feature

#163 feat : 쿠폰 캠페인 생성시 검증 추가
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponCampaign.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/CouponErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/WrongDiscountAmountException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/service/CreateCouponCampaignDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
Labels: For: API, Type: Feature

#165 feat: 재고 감소 로직 및 재고 회복 로직 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemQuantityException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemQuantityLackException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemQuantityLargeException.java
Labels: For: API, Type: Feature

#171 refactor : DateFormat 어노테이션 구현 및 검증 로직 리팩토링
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/CreateEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/CreateHostResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/CreateHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/JoinHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostListUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostUseCase.java
  DuDoong-Common/build.gradle
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/DateFormat.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Phone.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/validator/PhoneValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
Labels: For: API, Type: Feature, Type: Refactor

#169 test : 주문 도메인 테스트 코드 1차
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ApproveOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/domainEvent/EventPublisherAspect.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAop.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/OptionAnswerVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderApproveService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderConfirmService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithdrawOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/ConfirmOrderFailHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/WithDrawOrderHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/Option.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/CunCurrencyExecutorService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/DisableDomainEvent.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/DisableRedissonLock.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/DomainIntegrateProfileResolver.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/DomainIntegrateSpringBootTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/DomainIntegrateTestConfig.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/common/vo/RefundInfoVoTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderStatusTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/WithdrawOrderServiceTest.java
  DuDoong-Domain/src/test/resources/application-test.yml
  build.gradle
Labels: Type: Test

#172 fix : order pgpaymentInfovo 디폴트값 설정
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PgPaymentInfo.java
Labels: Type: Errors/Bugs

#178 fix : redisson lock entity 가능하게 설정
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/aop/redissonLock/RedissonLockAop.java
Labels: Status: URGENT, Type: Errors/Bugs

#175 bug : @Nullable 어노테이션 사용 관련 경고 해결
  DuDoong-Domain/build.gradle
Labels: Type: Errors/Bugs

#174 feat : 유저 쿠폰 발급 기능
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateUserCouponResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/IssuedCouponMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateUserCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedCouponInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/adaptor/CouponCampaignAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/adaptor/IssuedCouponAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponCampaign.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponStockInfo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/AlreadyIssuedCouponException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/CouponCampaignNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/CouponErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/NoCouponStockLeftException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/NotIssuingCouponPeriodException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/CouponCampaignRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/service/CreateIssuedCouponDomainService.java
Labels: For: API, Type: Feature

#180 refactor: 발급 티켓 도메인 메서드 정리 및 API 추가
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/CanNotCancelEntranceException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/CanNotCancelException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/CanNotEntranceException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketAlreadyEntranceException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/exception/IssuedTicketErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
Labels: For: API, Type: Feature, Type: Refactor

#181 refactor : 선착순 결제시 0원 주문일 때 티켓 바로 발급
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/customizer/EnumValuePropertyCustomizer.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/FreeOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartLineItemNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/PaymentMethod.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/NotFreeOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/FreeOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/WithDrawOrderHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketType.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
Labels: For: API, Type: Refactor

#188 fix : 주문완료,철회 시 티켓 생성, 재고 관리 관련 세션 오류 해결
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/WithdrawOrderServiceTest.java
Labels: For: API, Type: Errors/Bugs

#189 🚀 :: Api-v0.0.6
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/WithdrawOrderServiceTest.java
Labels: For: Deploy

#195 feat(ticketOption) : 티켓상품 옵션 생성하기
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketOptionController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/CreateTicketOptionRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/CreateTicketOptionResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/OptionResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketItemMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketOptionMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/CreateTicketOptionUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/OptionAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/Option.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/TicketOptionService.java
Labels: Type: Feature

#199 feat: 응원톡 생성 및 리스트 가져오기 API 작성
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/mapper/CommentMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/request/CreateCommentRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/CreateCommentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveCommentDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveCommentListResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/CreateCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/CommentInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/adaptor/CommentAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/domain/Comment.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/dto/condition/CommentCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/dto/condition/IssuedTicketCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
Labels: For: API

#202 test : 주문 취소 철회 관련 테스트 추가
  .github/workflows/BuildSocketServer.yml
  .github/workflows/ci.yml
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/handler/WithDrawOrderHandlerTest.java
Labels: For: Utils, Type: Test

#208 refactor(order) : 주문 도메인 필드에서 타 도메인 제거
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderLineTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/CreateOrderUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/Validator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderCouponVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderItemVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CreateOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/FreeOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderApproveService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderConfirmService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithdrawOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/OptionAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/OptionRepository.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderStatusTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/WithdrawOrderServiceTest.java
Labels: For: API, Type: Refactor

#206 feat : 내 쿠폰 조회 API 생성
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/ReadIssuedCouponResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/IssuedCouponMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadIssuedCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadMyPageIssuedCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/adaptor/IssuedCouponAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/repository/IssuedCouponCustomRepositoryImpl.java
Labels: For: API, Type: Feature

#212 feat : 호스트, 이벤트 조회 페이징 적용
  DuDoong-Api/src/main/java/band/gosrock/api/common/page/PageResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventProfileResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventListUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventProfileListUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostProfileResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostProfileListUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventDetail.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostRepository.java
Labels: For: API, Type: Errors/Bugs, Type: Feature, Type: Refactor

#213 refactor(cart) : 장바구니 도메인 타 도메인 연관관계 제거
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/request/AddCartRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartItemResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/mapper/CartMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/policy/CartPolicy.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/policy/CartPolicyImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/repository/CartCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/service/CartDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventIsNotOpenStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventTicketingTimeIsPassedException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CreateOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/Option.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/NotCorrectOptionAnswerException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswerTest.java
  build.gradle
Labels: For: API, Type: Refactor

#217 feat: 응원톡 삭제, 갯수 카운팅 및 랜덤으로 뽑아오기 API 작성
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/mapper/CommentMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveCommentCountResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveRandomCommentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/DeleteCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveCommentCountUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveRandomCommentUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/CommentInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/adaptor/CommentAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/domain/Comment.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/domain/CommentStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/exception/CommentAlreadyDeleteException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/exception/CommentErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/exception/CommentNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/exception/CommentNotMatchEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/exception/RetrieveRandomCommentNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/service/CommentDomainService.java
Labels: For: API

#231 refactor : order,cart 에러 문서화, 세세한 검증 추가
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadMyPageIssuedCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/ApproveOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/CancelOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/ConfirmOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/CreateOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/FreeOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/RefundOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/FreeOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedCouponInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/Cart.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartInvalidItemKindPolicyException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartItemNotOneTypeException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/exception/CartNotAnswerAllOptionGroupException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderLineItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrdeItemNotOneTypeException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderItemOptionChangedException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CreateOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/FreeOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderFactory.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/WithdrawOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketPurchaseLimitException.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderLineItemTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/OrderTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
Labels: For: API, Type: Docs/Chore, Type: Refactor

#224 refactor : 쿠폰 도메인 리팩토링
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateCouponCampaignResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateUserCouponResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/CouponCampaignMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/IssuedCouponMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadIssuedCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadMyPageIssuedCouponUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedCouponInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
Labels: Type: Errors/Bugs, Type: Refactor

#235 feat : 서버에러 슬랙 알림 추가
  DuDoong-Api/build.gradle
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/slack/SlackApiProvider.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackApiConfig.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Utils, Type: Feature

#246 feat : 공연 상세 및 체크리스트 조회 구현
  DuDoong-Api/src/main/java/band/gosrock/api/cart/docs/CreateCartExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/slack/SlackApiProvider.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventStatusRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventChecklistResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventChecklistUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventStatusUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/ApproveOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/CancelOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/ConfirmOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/CreateOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/FreeOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/docs/RefundOrderExceptionDocs.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Api/src/test/java/band/gosrock/DuDoongApiServerApplication.java
  DuDoong-Api/src/test/java/band/gosrock/api/eventHandlers/RegisterUserEventHandlerTest.java
  DuDoong-Api/src/test/java/band/gosrock/api/supports/ApiIntegrateProfileResolver.java
  DuDoong-Api/src/test/java/band/gosrock/api/supports/ApiIntegrateSpringBootTest.java
  DuDoong-Api/src/test/java/band/gosrock/api/supports/ApiIntegrateTestConfig.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventBasic.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventDetail.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventPlace.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventIsNotOpenStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventNotOpenException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/TicketItemAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/TicketItemRepository.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: API, Type: Feature
