Repository Gosrock/DuDoong-Backend, pull requests merged in 2023-02, with the labels that each got.

#248 feat(order) : admin event orders 다건 조회
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderAdminController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/request/AdminOrderTableQueryRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ApproveOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/AdminTableOrderFilterType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/AdminTableSearchType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/FindEventOrdersCondition.java
Labels: For: API, Type: Feature

#251 feature : 이벤트 티켓상품 옵션 적용 현황 조회 (어드민용)
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/AppliedOptionGroupResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/GetAppliedOptionGroupsResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketItemMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/ApplyTicketOptionUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/GetAppliedOptionGroupsUseCase.java
Labels: For: API, Type: Feature

#252 feature : 이벤트에 속한 옵션그룹 조회 (어드민용)
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketOptionController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/GetEventOptionsResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketOptionMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/GetEventOptionsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/OptionGroupAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/OptionGroupRepository.java
Labels: For: API, Type: Feature

#253 feature : 티켓상품 삭제
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketOptionMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/ApplyTicketOptionUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/DeleteTicketItemUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/ForbiddenTicketItemDeleteException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/ItemOptionGroupService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/TicketItemService.java
Labels: For: API, Type: Feature

#256 refactor : host role Host 용 생성, 어노테이션 필드 리팩토링
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/FindHostFrom.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostCallTransactionFactory.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostQualification.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleAop.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleCallTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleEventTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleHostTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRolesAllowed.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventDetailUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/UpdateHostSlackUrlUseCase.java
Labels: For: API, Type: Refactor

#259 feat : get my user info api
  DuDoong-Api/src/main/java/band/gosrock/api/user/controller/UserController.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/service/ReadUserUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
Labels: For: API, Type: Feature

#267 fix : x-forward 필터로 인한 ContentCachingRequestWrapper 캐스팅 오류 해결
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/ServletFilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketOptionController.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostRole.java
Labels: Type: Errors/Bugs

#269 🚀 :: Api-v0.1.0-1
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/ServletFilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketOptionController.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostRole.java
Labels: For: Deploy

#275 refactor : 티켓 발매 갯수 제한시 과거 발급 이력 합산 검증
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
Labels: For: API, Type: Refactor

#276 feat : QueryDslUtil 및 무한 스크롤 적용
  DuDoong-Api/src/main/java/band/gosrock/api/common/slice/SliceParam.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/slice/SliceResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadUserEventProfilesUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostProfileResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostProfilesUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/util/QueryDslUtil.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostRepository.java
Labels: For: API, For: Utils, Type: Feature

#280 feat : 이메일 인프라 관련 세팅 aws ses 연동
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/RegisterUserEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/SendRegisterEmailService.java
  DuDoong-Api/src/test/java/band/gosrock/api/email/RegisterUserEventHandlerTest.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/ses/AwsSesConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/ses/AwsSesUtils.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  DuDoong-Infrastructure/src/main/resources/templates/signUp.html
Labels: For: Utils, Type: Feature

#281 refactor : SliceParam 제거
  DuDoong-Api/src/main/java/band/gosrock/api/common/slice/SliceParam.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadUserEventProfilesUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostProfilesUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/util/QueryDslUtil.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/util/SliceUtil.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventBasicVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventBasic.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepositoryImpl.java
Labels: For: API, Type: Errors/Bugs, Type: Refactor

#278 refactor : 마이페이지 내 예매목록조회 슬라이스 적용
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
Labels: For: API, Type: Refactor

#284 refactor : DateFormat 형식 변경
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateUserCouponResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventBasicRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/response/EventDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/InviteHostRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/ReadUserHostRequest.java
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/DateFormat.java
Labels: For: API, Type: Refactor

#285 test: issuedTicket 도메인 테스트 추가 및 리팩토링
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketOptionAnswerVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/OptionAnswerVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswer.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/IssuedTicketOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/IssuedTicketTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domains/issuedTicket/IssuedTicketTest.java
Labels: Type: Refactor, Type: Test

#288 refactor : 호스트 검증 aop 적용
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/CreateEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventChecklistUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventDetailUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadUserEventProfilesUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventBasicUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventStatusUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/InviteHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/JoinHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostProfilesUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadInviteUsersUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/UpdateHostProfileUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/UpdateHostUserRoleUseCase.java
Labels: For: API, Type: Refactor

#290 refactor: 응원톡 무한 스크롤 방식 리팩토링 및 호스트 검증 AOP로 변경
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/mapper/CommentMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/DeleteCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/adaptor/CommentAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/dto/condition/CommentCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
Labels: For: API, Type: Refactor

#295 feat : 쿠폰 최소 사용 금액 로직 추가 및 슈퍼 어드민 검증
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/reqeust/CreateCouponCampaignRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/dto/response/CreateCouponCampaignResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/mapper/CouponCampaignMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/CreateCouponUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/service/ReadMyPageIssuedCouponUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedCouponInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/CouponCampaign.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/IssuedCoupon.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/CouponErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/NotApplicableCouponException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/SupplyLessThenDiscountException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/exception/SupplyLessThenMinimumException.java
Labels: For: API, Type: Feature

#297 feature : 주문 관련, 호스트 초대 이메일 알림 전송
  DuDoong-Api/src/main/java/band/gosrock/api/config/ServletFilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/dto/OrderMailDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/CreateOrderEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/DoneOrderEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/RegisterUserEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/WithDrawOrderEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostInviteEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveConfirmEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveRequestEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderMailInfoHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderPaymentDoneEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawCancelEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawRefundEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/InviteHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/test/java/band/gosrock/api/email/RegisterUserEventHandlerTest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/CreateOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailEventInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailOrderInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailUserInfo.java
  DuDoong-Infrastructure/src/main/resources/templates/fragments/button.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/divider.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/footer.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/header.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/orderInfo.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/subTilte.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/title.html
  DuDoong-Infrastructure/src/main/resources/templates/hostInvite.html
  DuDoong-Infrastructure/src/main/resources/templates/layouts/mailFormat.html
  DuDoong-Infrastructure/src/main/resources/templates/orderApproveConfirm.html
  DuDoong-Infrastructure/src/main/resources/templates/orderApproveRequest.html
  DuDoong-Infrastructure/src/main/resources/templates/orderPaymentDone.html
  DuDoong-Infrastructure/src/main/resources/templates/orderWithdrawCancel.html
  DuDoong-Infrastructure/src/main/resources/templates/orderWithdrawRefund.html
  DuDoong-Infrastructure/src/main/resources/templates/signUp.html
Labels: For: Utils, Type: Feature

#310 fix: 응원글 조회 API 인증 과정 삭제
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
Labels: For: API

#319 refactor : 호스트 및 이벤트 길이 제한 추가
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventBasicRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/CreateHostRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventBasic.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostProfile.java
Labels: For: API, For: Models/DB, Type: Refactor

#315 refactor: 응원톡 랜덤 조회 쿼리 파라미터 추가 및 랜덤 쿼리 위해 nativeQuery로 리팩토링
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/mapper/CommentMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveRandomCommentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveRandomCommentUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/adaptor/CommentAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentRepository.java
Labels: For: API, Type: Refactor

#323 refactor : 카카오 회원가입시 실제 이름 우선 후 없으면 프로필 이름 불러오기
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/KakaoInformationResponse.java
Labels: Type: Refactor

#322 feature : async error handler with slack alarm
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackInternalErrorSender.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/CreateOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/user/UserRegisterEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/CustomAsyncExceptionHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/EnableAsyncConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackAsyncErrorSender.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackProvider.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Utils, Type: Feature, Type: Refactor

#321 feat : 유저 마지막 로그인 시점 적용
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RefreshUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/TokenGenerateHelper.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
Labels: For: Utils, Type: Feature

#320 refactor : 이벤트 오픈 api 분리
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/OpenEventUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyCalculatingStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyCloseStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyOpenStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyPreparingStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotOpenEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/UseOtherApiException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/TicketItemService.java
Labels: For: API, Type: Refactor

#325 🚀 :: Api-v0.1.3
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RefreshUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/TokenGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/mapper/CommentMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/response/RetrieveRandomCommentResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/service/RetrieveRandomCommentUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/response/GlobalExceptionHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventBasicRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/OpenEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/CreateHostRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackInternalErrorSender.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/CreateOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/DoneOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/user/UserRegisterEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/CustomAsyncExceptionHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/config/EnableAsyncConfig.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/adaptor/CommentAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/comment/repository/CommentRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventBasic.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyCalculatingStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyCloseStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyOpenStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyPreparingStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotOpenEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/UseOtherApiException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostProfile.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/TicketItemService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackAsyncErrorSender.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/oauth/dto/KakaoInformationResponse.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Deploy

#328 refactor : 전화번호 libphonenumber 적용
  DuDoong-Api/src/main/java/band/gosrock/api/common/UserUtils.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/util/PhoneNumberInstance.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/PhoneNumberVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketUserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/AdminTableSearchType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/Profile.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserPhoneNumberInvalidException.java
  DuDoong-Infrastructure/build.gradle
Labels: For: Utils, Type: Refactor

#330 feat: 입장 처리시 도메인 이벤트 발행
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/issuedTicket/EntranceIssuedTicketEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
Labels: Type: Feature

#329 feat : 호스트 관련 슬랙 알림과 이벤트 추가
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostMasterChangeEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostUserDisabledEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostUserInvitationEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostUserRoleChangeEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/handler/HostRegisterSlackEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/handler/HostUserDisabledEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/handler/HostUserInvitationEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/handler/HostUserJoinEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/handler/HostUserRoleChangeEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/InviteHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/JoinHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackInternalErrorSender.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/host/HostSlackAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/host/HostRegisterSlackEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/host/HostUserDisabledEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/host/HostUserInvitationEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/host/HostUserJoinEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/host/HostUserRoleChangeEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/DuplicateSlackUrlException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/HostErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackAsyncErrorSender.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackMessageProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackServerNotificationProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/config/SlackApiConfig.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  DuDoong-Infrastructure/src/main/resources/templates/hostInvite.html
Labels: For: API, Type: Feature

#334 fix : 승인 대기중인 주문시 티켓 미발급으로 인한 널접근 오류
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/controller/CartController.java
  DuDoong-Api/src/main/java/band/gosrock/api/comment/controller/CommentController.java
  DuDoong-Api/src/main/java/band/gosrock/api/coupon/controller/CouponController.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderMailInfoHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/example/controller/ExampleController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/image/controller/ImageController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderAdminController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ApproveOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/statistic/controller/AdminStatisticController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketOptionController.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/controller/UserController.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTickets.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketsStage.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/FindEventOrdersCondition.java
Labels: For: API, Type: Errors/Bugs, Type: Refactor

#335 refactor : 이미지 키 값으로만 받도록 변경
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventDetailRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventStatusRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostProfileResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/EventDetailVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventDetail.java
Labels: For: API, Type: Refactor

#339 refactor : 티켓 타입 기획 수정 반영
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/CreateTicketItemRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/TicketItemResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketItemMapper.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketPayType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/EmptyAccountNumberException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/InvalidPartnerException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/InvalidTicketTypeException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/TicketItemService.java
Labels: For: API, Type: Feature, Type: Refactor

#341 feat : 발급 티켓 입장 처리 시 이메일 전송 로직 추가
  DuDoong-Api/src/main/java/band/gosrock/api/email/dto/IssuedTicketMailDTO.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/EntranceIssuedTicketEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/EntranceIssuedTicketEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/IssuedTicketMailInfoHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/issuedTicket/EntranceIssuedTicketEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailIssuedTicketInfo.java
  DuDoong-Infrastructure/src/main/resources/templates/entranceIssuedTicket.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/issuedTicketInfo.html
  DuDoong-Infrastructure/src/main/resources/templates/fragments/subTilte.html
Labels: For: API, Type: Feature

#344 fix : security open regex
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
Labels: Status: URGENT, Type: Errors/Bugs

#348 fix : 호스트 이벤트 버그 수정 및 슬랙 URL 검증 추가
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadEventDetailUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/request/UpdateHostSlackRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/UpdateHostSlackUrlUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/event/EventContentChangeEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/event/EventCreationEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/event/EventDeletionEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/event/EventStatusChangeEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/host/HostRegisterSlackEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/host/HostUserDisabledEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/host/HostUserInvitationEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/host/HostUserJoinEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/host/HostUserRoleChangeEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/HostErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/InvalidSlackUrlException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackMessageProvider.java
Labels: For: API, Type: Errors/Bugs, Type: Feature

#345 feat : 밸리데이션 정리 및 밸리데이션 테스트 코드 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/validator/IssuedTicketValidator.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/validator/IssuedTicketValidatorTest.java
Labels: For: API, Type: Test

#351 bug : 티켓 옵션 리스트 순서 고정
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
Labels: For: API, Type: Errors/Bugs

#353 test : 호스트 테스트 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/CannotModifyMasterHostRoleException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/ForbiddenHostOperationException.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostTest.java
Labels: Type: Test

#354 test : issuedTicketDomainService 테스트 코드 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithdrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/validator/IssuedTicketValidator.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/IssuedTicketTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/validator/IssuedTicketValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainServiceTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandlerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithdrawOrderEventHandlerTest.java
Labels: For: API, Type: Refactor, Type: Test

#356 test : 호스트 유저 테스트 코드 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostProfileTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostRoleTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostUserTest.java
Labels: Type: Test

#361 feat : 두둥 티켓 적용
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostCallTransactionFactory.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleAop.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleEventTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleHostTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRolesAllowed.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ApproveOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderCouponVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderFactory.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/ConfirmOrderFailHandler.java
Labels: For: API, Type: Feature

#362 Api-v0.1.5
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostCallTransactionFactory.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleAop.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleEventTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRoleHostTransaction.java
  DuDoong-Api/src/main/java/band/gosrock/api/common/aop/hostRole/HostRolesAllowed.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ApproveOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/HostProfileVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/CannotModifyMasterHostRoleException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/exception/ForbiddenHostOperationException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithdrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/validator/IssuedTicketValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderCouponVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/OrderFactory.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/ConfirmOrderFailHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostProfileTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostRoleTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/domain/HostUserTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/IssuedTicketTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/validator/IssuedTicketValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainServiceTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/handlers/OrderEventHandlerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/handlers/WithdrawOrderEventHandlerTest.java
Labels: For: Deploy

#366 Api-v0.1.5-1
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/request/AddCartOptionAnswerDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
Labels: For: Deploy

#368 refactor : 공연 기본 정보 수정 정책 변경
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotModifyEventBasicException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotModifyOpenEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
Labels: For: API, Type: Refactor

#369 Api-v0.1.5-2
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotModifyEventBasicException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotModifyOpenEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
Labels: For: Deploy

#372 refactor : 장바구니 생성시에도 두둥티켓 관련 응답 추가
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
Labels: For: API, Type: Refactor

#373 Api-v0.1.5-3
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
Labels: For: Deploy

#370 feat : spring batch setting, 일별 유저 통계
  .github/workflows/BuildBatchServer.yml
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackInternalErrorSender.java
  DuDoong-Batch/Dockerfile
  DuDoong-Batch/build.gradle
  DuDoong-Batch/src/main/java/band/gosrock/BatchApplication.java
  DuDoong-Batch/src/main/java/band/gosrock/job/SlackUserStatistic.java
  DuDoong-Batch/src/main/java/band/gosrock/parameter/DateJobParameter.java
  DuDoong-Batch/src/main/java/band/gosrock/slack/SlackSender.java
  DuDoong-Batch/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackAsyncErrorSender.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackErrorNotificationProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackServiceNotificationProvider.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  settings.gradle
Labels: For: Utils, Type: Docs/Chore, Type: Feature

#374 ci : batch latest tag 추가
  .github/workflows/BuildBatchServer.yml
Labels: For: Deploy, Type: Docs/Chore

#375 Batch-v0.0.1-2
  .github/workflows/BuildBatchServer.yml
Labels: For: Deploy

#385 refactor : order response date format
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderLineTicketResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
Labels: For: API, Type: Refactor

#386 Api-v0.1.6
  .github/workflows/BuildBatchServer.yml
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/DeleteEventUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventBasicUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/UpdateEventStatusUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/CreateOrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderLineTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/event/EventDeletionEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackInternalErrorSender.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/controller/TicketItemController.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/CreateTicketItemRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/UnapplyTicketOptionRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/TicketItemResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketItemMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/ApplyTicketOptionUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/CreateTicketItemUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/CreateTicketOptionUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/DeleteOptionGroupUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/DeleteTicketItemUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/UnapplyTicketOptionUseCase.java
  DuDoong-Batch/Dockerfile
  DuDoong-Batch/build.gradle
  DuDoong-Batch/src/main/java/band/gosrock/BatchApplication.java
  DuDoong-Batch/src/main/java/band/gosrock/job/SlackUserStatistic.java
  DuDoong-Batch/src/main/java/band/gosrock/parameter/DateJobParameter.java
  DuDoong-Batch/src/main/java/band/gosrock/slack/SlackSender.java
  DuDoong-Batch/src/main/resources/application.yml
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/EventSlackAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/event/EventDeletionEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/AccountInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/AlreadyDeletedStatusException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotDeleteByIssuedTicketException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/CannotDeleteByOpenEventException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/exception/EventErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/service/EventService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/EmptyAccountInfoException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/EmptyAccountNumberException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/NotAppliedItemOptionGroupException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/service/ItemOptionGroupService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackAsyncErrorSender.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackErrorNotificationProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackServiceNotificationProvider.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  settings.gradle
Labels: For: API, For: Deploy

#388 refactor : issued ticket response 보완
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/request/CreateCommentRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/IssuedTicketAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
Labels: For: API, Type: Refactor

#389 Api-v0.1.6-1
  DuDoong-Api/src/main/java/band/gosrock/api/comment/model/request/CreateCommentRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/response/IssuedTicketAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicket.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
Labels: For: Deploy

#394 refactor : Enum 관련 코드 최적화
  DuDoong-Common/build.gradle
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/EnumClass.java
  DuDoong-Common/src/main/java/band/gosrock/common/deserializer/CustomEnumDeserializer.java
  DuDoong-Common/src/main/java/band/gosrock/common/validator/EnumValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventStatus.java
Labels: For: Utils, Type: Refactor

#399 refactor : admin ticket find 요청 컨벤션 맞추기
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/request/AdminIssuedTicketTableQueryRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/condition/FindEventIssuedTicketsCondition.java
Labels: For: API, Type: Refactor

#396 feat : 오픈중인 공연 리스트 및 검색
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadOpenEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/SearchEventsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
Labels: For: API, Type: Feature

#400 Api-v0.1.7
  .gitignore
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadOpenEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/SearchEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/dto/request/AdminIssuedTicketTableQueryRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Batch/build.gradle
  DuDoong-Batch/src/main/java/band/gosrock/excel/ExcelOrderDto.java
  DuDoong-Batch/src/main/java/band/gosrock/excel/ExcelOrderHelper.java
  DuDoong-Batch/src/main/java/band/gosrock/job/EventForClientSettlement.java
  DuDoong-Batch/src/main/java/band/gosrock/job/EventOrdersToExcel.java
  DuDoong-Batch/src/main/java/band/gosrock/job/EventTransactionSettlement.java
  DuDoong-Batch/src/main/java/band/gosrock/parameter/EventJobParameter.java
  DuDoong-Common/build.gradle
  DuDoong-Common/src/main/java/band/gosrock/common/annotation/EnumClass.java
  DuDoong-Common/src/main/java/band/gosrock/common/deserializer/CustomEnumDeserializer.java
  DuDoong-Common/src/main/java/band/gosrock/common/validator/EnumValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/adaptor/EventAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/EventStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/condition/FindEventIssuedTicketsCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/adaptor/EventSettlementAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/adaptor/TransactionSettlementAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/domain/EventSettlement.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/domain/EventSettlementStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/domain/SettlementFeeVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/domain/TransactionSettlement.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/repository/EventSettlementRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/repository/TransactionSettlementRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/settlement/service/EventSettlementDomainService.java
  DuDoong-Domain/src/main/resources/application-domain.yml
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/DuDoongInfraApplication.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/s3/S3PrivateFileUploadService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/client/SettlementClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/FeeCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/SettlementFeeDto.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/tossPayments/dto/response/SettlementResponse.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/InfraIntegrateProfileResolver.java
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/InfraIntegrateSpringBootTest.java
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/InfraIntegrateTestConfig.java
  DuDoong-Infrastructure/src/test/java/band/gosrock/infrastructure/outer/api/tossPayments/client/TossSettlementClientTest.java
  DuDoong-Infrastructure/src/test/resources/payload/settlement-response.json
  lombok.config
  temp.xlsx
Labels: For: API, For: Deploy

#404 fix : ticket create price zero 가능하게 설정
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/CreateTicketItemRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/Money.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
Labels: For: API, Type: Errors/Bugs

#407 feat : 주문 관련 호스트 슬랙 알림
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/DudoongTicketCancelOrderEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/DudoongTicketRefundOrderEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/NewApproveOrderAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/NewConfirmOrderAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/OrderApprovedAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/HostSlackAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackErrorNotificationProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackMessageProvider.java
Labels: For: Utils, Type: Feature

#406 refactor : 공연 조회 권한 설정 및 호스트 유저 정렬 순서
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadOpenEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
Labels: For: API, Type: Refactor

#408 Api-v0.1.7-2
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/controller/EventController.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/ReadOpenEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/dto/response/HostDetailResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/DudoongTicketCancelOrderEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/DudoongTicketRefundOrderEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/NewApproveOrderAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/NewConfirmOrderAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/OrderApprovedAlarmEventHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/handler/order/WithDrawOrderEventHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/HostSlackAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/events/order/WithDrawOrderEvent.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/adaptor/UserAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/repository/UserRepository.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackErrorNotificationProvider.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackMessageProvider.java
Labels: For: Deploy

#401 feature : 카카오톡 알림톡(ncp)
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/dto/OrderAlimTalkDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/DoneOrderEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/RegisterUserEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/WithDrawOrderEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendDoneOrderAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendRegisterAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendWithdrawOrderAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/NcpHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/OrderAlimTalkInfoHelper.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerInternalSeverErrorException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/OrderKakaoTalkAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/UserKakaoTalkAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/EmptyPhoneNumException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkEventInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkOrderInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkUserInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/MessageDto.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/client/NcpClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/config/NcpConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/config/NcpErrorDecoder.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Utils, Type: Feature

#412 fix : event order table 유저 정보 불러올시 수정
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/mapper/CartMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/service/CreateCartUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
Labels: For: API, Type: Errors/Bugs

#410 feat : 알림톡 전송되는 서버 제한(prod,staging)
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/NcpHelper.java
Labels: For: Utils

#414 feat : 마이페이지 티켓 리스트 조회
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTickets.java
Labels: For: API

#415 Api-v0.1.8
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/dto/OrderAlimTalkDto.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/DoneOrderEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/RegisterUserEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/handler/WithDrawOrderEventAlimTalkHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendDoneOrderAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendRegisterAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/SendWithdrawOrderAlimTalkService.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/NcpHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/OrderAlimTalkInfoHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/dto/response/CartResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/mapper/CartMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/cart/service/CreateCartUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/controller/OrderController.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderTicketResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/mapper/OrderMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/service/ReadOrderUseCase.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerInternalSeverErrorException.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/OtherServerNotFoundException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/OrderKakaoTalkAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/UserKakaoTalkAlarm.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTickets.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/EmptyPhoneNumException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/exception/UserErrorCode.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkEventInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkOrderInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/AlimTalkUserInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/alilmTalk/dto/MessageDto.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/client/NcpClient.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/config/NcpConfig.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/outer/api/alimTalk/config/NcpErrorDecoder.java
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Deploy

#416 test : 이벤트 테스트 추가
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/event/EventTest.java
Labels: For: API, Type: Refactor, Type: Test

#422 refactor: 발급 티켓 입장 처리 uuid로 수정
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainServiceTest.java
Labels: For: API, Type: Refactor

#419 test : 쿠폰 도메인 테스트 코드 작성
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/ApplyTarget.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/DiscountType.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/CouponCampaignTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/CouponStockInfoTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/IssuedCouponTest.java
Labels: Type: Test

#423 refactor : register email contents 수정
  DuDoong-Infrastructure/src/main/resources/templates/fragments/footer.html
  DuDoong-Infrastructure/src/main/resources/templates/signUp.html
Labels: For: Utils

#424 Api-v0.1.9
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/AdminIssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/controller/IssuedTicketController.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/mapper/IssuedTicketMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/EntranceIssuedTicketUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/issuedTicket/service/ReadIssuedTicketUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/ApplyTarget.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/coupon/domain/DiscountType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/repository/IssuedTicketRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/CouponCampaignTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/CouponStockInfoTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/coupon/domain/IssuedCouponTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/event/EventTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/service/IssuedTicketDomainServiceTest.java
  DuDoong-Infrastructure/src/main/resources/templates/fragments/footer.html
  DuDoong-Infrastructure/src/main/resources/templates/signUp.html
Labels: For: Deploy

#432 refactor : refund info with orderstatus
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
Labels: For: API, Type: Refactor

#433 refactor : DB 커넥션 풀 늘리기
  DuDoong-Domain/src/main/resources/application-domain.yml
Labels: For: Utils

#428 feature : 마케팅 , 메일 동의 관련
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/request/RegisterRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/RegisterUserEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/EntranceIssuedTicketEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostUserInvitationEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveConfirmEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveRequestEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderPaymentDoneEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawCancelEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawRefundEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/SendRegisterEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/controller/UserController.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/service/MarketingUserUseCase.java
  DuDoong-Api/src/test/java/band/gosrock/api/email/RegisterUserEventHandlerTest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailUserInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/ses/AwsSesUtils.java
Labels: For: API, Type: Feature

#431 refactor : swagger basic auth 설정
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/NcpHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/CorsConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/FilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/src/main/java/band/gosrock/common/aop/ApiBlockingAspect.java
  DuDoong-Common/src/main/java/band/gosrock/common/helper/SpringEnvironmentHelper.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
Labels: For: Utils, Type: Refactor

#434 Api-v0.2.0
  DuDoong-Api/src/main/java/band/gosrock/api/alimTalk/service/helper/NcpHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/model/dto/request/RegisterRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/RegisterUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/CorsConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/FilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/handler/RegisterUserEventEmailHandler.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/EntranceIssuedTicketEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/HostUserInvitationEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveConfirmEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderApproveRequestEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderPaymentDoneEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawCancelEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/OrderWithDrawRefundEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/email/service/SendRegisterEmailService.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderAdminTableElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/controller/UserController.java
  DuDoong-Api/src/main/java/band/gosrock/api/user/service/MarketingUserUseCase.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Api/src/test/java/band/gosrock/api/email/RegisterUserEventHandlerTest.java
  DuDoong-Common/src/main/java/band/gosrock/common/aop/ApiBlockingAspect.java
  DuDoong-Common/src/main/java/band/gosrock/common/helper/SpringEnvironmentHelper.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/RefundInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/UserInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/domain/Event.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/Profile.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/service/UserDomainService.java
  DuDoong-Domain/src/main/resources/application-domain.yml
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/mail/dto/EmailUserInfo.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/ses/AwsSesUtils.java
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/slack/SlackHelper.java
Labels: For: Deploy

#439 refactor : 이벤트 옵션 리스트 정보에 티켓 관련 정보 추가
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/AppliedOptionGroupResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/TicketItemResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
Labels: For: API, Type: Refactor

#440 Api-v0.2.0-1
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/AppliedOptionGroupResponse.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/response/TicketItemResponse.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
Labels: For: Deploy

#441 feature : rate limit 쓰로틀링 걸기
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/ServletFilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/IPRateLimiter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/ThrottlingInterceptor.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/ThrottlingWebConfigure.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/UserRateLimiter.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackThrottleErrorSender.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/TooManyRequestException.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedissonConfig.java
Labels: For: API, For: Utils, Type: Feature

#442 Api-v0.2.1
  DuDoong-Api/src/main/java/band/gosrock/api/auth/controller/AuthController.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/ServletFilterConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/IPRateLimiter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/ThrottlingInterceptor.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/ThrottlingWebConfigure.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/rateLimit/UserRateLimiter.java
  DuDoong-Api/src/main/java/band/gosrock/api/slack/sender/SlackThrottleErrorSender.java
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Common/src/main/java/band/gosrock/common/exception/GlobalErrorCode.java
  DuDoong-Common/src/main/java/band/gosrock/common/exception/TooManyRequestException.java
  DuDoong-Infrastructure/build.gradle
  DuDoong-Infrastructure/src/main/java/band/gosrock/infrastructure/config/redis/RedissonConfig.java
Labels: For: Deploy

#445 fix : swagger user securityutils 에서 익명 유저 취급
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityUtils.java
Labels: For: Utils, Type: Errors/Bugs

#446 fix : accessDeniedFilter shouldNotFilter url
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
Labels: For: Utils, Type: Errors/Bugs

#447 Api-v0.2.1-1
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/AccessDeniedFilter.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityConfig.java
  DuDoong-Api/src/main/java/band/gosrock/api/config/security/SecurityUtils.java
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
Labels: For: Deploy

#449 fix : SwaggerPatterns 추가
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
Labels: For: Utils, Type: Errors/Bugs

#450 Api-v0.2.1-2
  DuDoong-Common/src/main/java/band/gosrock/common/consts/DuDoongStatic.java
Labels: For: Deploy

#456 refactor : orderBriefElement item count to order count
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
Labels: For: API, Type: Refactor

#455 bug : toAlimTalkUserInfo null 오류 해결
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
Labels: Type: Errors/Bugs

#457 Api-v0.2.2
  DuDoong-Api/src/main/java/band/gosrock/api/cart/model/mapper/CartMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/order/model/dto/response/OrderBriefElement.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketItemMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/mapper/TicketOptionMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/CreateTicketItemUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/service/CreateTicketOptionUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/cart/domain/CartValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/service/OrderToIssuedTicketService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/OptionGroupAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/adaptor/TicketItemAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/OptionGroupRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/repository/TicketItemRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/cart/domain/CartValidatorTest.java
Labels: For: Deploy

#459 fix : 호스트 이벤트 접근 권한 설정
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/RejectHostUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
Labels: For: API, Type: Errors/Bugs

#460 Api-v0.2.3
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/controller/HostController.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadHostEventsUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/RejectHostUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/adaptor/HostAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/Host.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/domain/HostUser.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/repository/HostCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
Labels: For: Deploy

#462 fix : 공연 시작 시간 검증 추가
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventBasicRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
Labels: For: API, Type: Errors/Bugs

#463 Api-v0.2.3-1
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/CreateEventRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/dto/request/UpdateEventBasicRequest.java
  DuDoong-Api/src/main/java/band/gosrock/api/event/model/mapper/EventMapper.java
Labels: For: Deploy

#465 refactor : remove event relation
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
Labels: For: API, Type: Refactor

#466 Api-v0.2.3-2
  DuDoong-Api/src/main/java/band/gosrock/api/auth/service/helper/CookieGenerateHelper.java
Labels: For: Deploy

#469 Api-v0.2.3-4
  DuDoong-Api/src/main/java/band/gosrock/api/ticketItem/dto/request/CreateTicketItemRequest.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/ForbiddenOptionPriceException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
Labels: For: Deploy

#471 fix : 호스트 유저 초대 동시성 이슈 대응
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/InviteHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadInviteUsersUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/service/HostServiceConcurrencyFailureTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/service/HostServiceConcurrencyTest.java
Labels: For: API, Type: Errors/Bugs, Type: Test

#477 fix : order approve not delete user
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/CanNotApproveDeletedUserOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/AdminTableOrderFilterType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/FindEventOrdersCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
Labels: For: API, For: Utils, Type: Errors/Bugs

#479 Api-v0.2.3-5
  DuDoong-Api/src/main/java/band/gosrock/api/host/model/mapper/HostMapper.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/InviteHostUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/host/service/ReadInviteUsersUseCase.java
  DuDoong-Api/src/main/java/band/gosrock/api/statistic/query/OrderQueryRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/host/service/HostService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/CanNotApproveDeletedUserOrderException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/AdminTableOrderFilterType.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/condition/FindEventOrdersCondition.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/OptionGroup.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/InvalidOptionPriceException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/exception/TicketItemErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/service/HostServiceConcurrencyFailureTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/host/service/HostServiceConcurrencyTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyFailTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/service/OrderApproveServiceConcurrencyTest.java
Labels: For: Deploy

#483 Api-v0.2.4
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/Order.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/OrderStatus.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/ApproveWaitingOrderPurchaseLimitException.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/CreateOrderService.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/service/handler/ConfirmOrderFailHandler.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/ticket_item/domain/TicketItem.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/user/domain/User.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/order/domain/validator/OrderValidatorTest.java
  temp.xlsx
Labels: For: Deploy

#485 fix : 이벤트 정렬 순서 미적용 해결
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/SearchEventsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
Labels: For: API, Type: Errors/Bugs

#486 Api-v0.2.4-1
  DuDoong-Api/src/main/java/band/gosrock/api/event/service/SearchEventsUseCase.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
Labels: For: Deploy

#487 test : 발급 티켓 관련 vo들 테스트 코드 추가 및 발급티켓 응답값에 티켓 payType 추가
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketUserInfoVo.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVoTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketUserInfoVoTest.java
Labels: For: API, Type: Test

#488 Api-v0.2.4-2
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/vo/IssuedTicketInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVo.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketUserInfoVo.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/adaptor/IssuedTicketAdaptorTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketItemInfoVoTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketOptionAnswerTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketTest.java
  DuDoong-Domain/src/test/java/band/gosrock/domain/domains/issuedTicket/domain/IssuedTicketUserInfoVoTest.java
Labels: For: Deploy

#478 refactor : staging,prod ddl auto none
  DuDoong-Domain/src/main/resources/application-domain.yml
Labels: For: Utils, Type: Refactor

#489 Api-v1.0.0
  DuDoong-Domain/src/main/resources/application-domain.yml
Labels: For: Deploy

#491 fix : 주문 승인시 티켓 매수 제한에 내 주문목록만 조회
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/adaptor/OrderAdaptor.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/domain/validator/OrderValidator.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/repository/OrderRepository.java
Labels: Type: Errors/Bugs

#494 refactor : 공연 정렬 생성 순으로 변경
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
Labels: For: API, Type: Refactor

#495 Api-v1.0.0-3
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/event/repository/EventCustomRepositoryImpl.java
  DuDoong-Domain/src/main/java/band/gosrock/domain/domains/order/exception/OrderErrorCode.java
Labels: For: Deploy

#497 feat : 알림톡 템플릿 변경
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/UserKakaoTalkAlarm.java
Labels: For: Utils

#498 Api-v1.0.0-4
  DuDoong-Domain/src/main/java/band/gosrock/domain/common/alarm/UserKakaoTalkAlarm.java
Labels: For: Deploy

#501 Api-v1.0.0-5
  DuDoong-Api/src/main/resources/application.yml
  DuDoong-Infrastructure/src/main/resources/application-infrastructure.yml
Labels: For: Deploy
